name: Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - release/*
      - hotfix/*

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' || (github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release/')) }}
    steps:
      - uses: actions/checkout@v2
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: curl libpq-dev clang llvm pkg-config nettle-dev libc6-dev
          version: 1.0

      - name: Run Clippy
        run: cargo clippy -- -D warnings

      - name: Unit test Rust workspace
        run: cargo test --workspace --lib -- --nocapture

      - name: Integration test authentication
        run: cargo test --test web_authentication -- --nocapture

      - name: Integration test storage
        run: cargo test --test storage -- --nocapture

      - name: Integration test links
        run: cargo test --test links -- --nocapture

      - name: Integration test email
        run: cargo test --test email -- --nocapture

      - name: Install wasm pack tool
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Install yarn
        run: npm install -g yarn && yarn install

      - name: Wasm pack cryptfns
        run: yarn workspace @hoodik/cryptfns wasm-pack

      - name: Unit test web
        run: yarn workspace @hoodik/web test:unit

      - name: Build web
        run: yarn workspace @hoodik/web build

      - name: E2E test web
        run: ./web-e2e
